.container {
    height: 350px;
    width: 400px;
    background-color: none;
    backdrop-filter: blur(20px);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container input {
    width: 300px;
    border-radius: 20px;
    border: 1px solid black;
    height: 40px;
    text-align: center;
    margin-top: 35px;
}

.container h1 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

#butau {
    width: 300px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    border: solid 1px black;
}

.paralax {
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#section1 {
    background-image: url(Background/cachoeira.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}
