<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}">
</head>
<body style="display: flex; justify-content: center; margin-top: 12%;">
    <form action="/PegarDadosDelete" method="post">
        <div class="container">
            <input type="text" name="UsuarioDeletar" placeholder="Digite o cadastro que deseja excluir">
            <button id="butau">Deletar Cadastro</button>
        </div>
    </form>
</body>
</html>