<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/delete.css')}}">
</head>
<body>
    <section class="paralax" id="section1">
        <form action="/PegarDadosDelete" method="post">
            <div class="container">
                <h1>Deletar Usuario</h1>
                <input type="text" name="UsuarioDeletar" placeholder="Digite o cadastro que deseja excluir">
                <button id="butau">Deletar Cadastro</button>
            </div>
        </form>
    </section>
</body>
</html>