<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crud FullStack/Create</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body style="display: flex; flex-direction: column;">
    <section class="paralax" id="section1">
        <form action="/AddDados" method="post">
            <div class="container">
                <h1>Inserir dados do Usuario</h1>
                <input type="text" name="UsuarioUsu" id="" placeholder="Digite seu nome" >
                <input type="email" name="EmailUsu" id="" placeholder="Digite seu e-mail">
                <input type="password" name="SenhaUsu" id="" placeholder="Digite sua senha">
                <button class="botao">Enviar os dados</button>

                <form action="/LerDados">
                    <button class="botao" style="margin-top: 100px;">Ver os dados</button>
                </form>
                <form action="EditarDados">
                    <button class="botao">Editar dados</button>
                </form>
                <form action="Delete" style="margin-bottom: 10px;">
                    <button class="botao">Deletar Cadastro</button>
                </form>
            </div>
        </form><br><br>
    </section>
</body>
</html>